header {
    width: 100%;
}

header .header_i {
    max-width: 1440px;
    min-height: 120px;
    margin: 0 auto;
    display: flex;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
    color: var(--chang_yellow);
}

.search {
    flex-grow: 1;      
    display: flex;    
    justify-content: center; 
    margin: 0 20px;    
}
.search form {
    display: flex;
    position: relative;
    width: 100%;      
    max-width: 461px;  
    height: 60px;
}
.search form input{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 56px 0 16px;
    border: none;
    outline: none;
    background: none;
    border: 3px solid var(--chang_yellow);
    color: var(--chang_yellow);
    font-size: 1.1rem;
}
.search form button{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 100%;
    width: 50px;
    border: none;
    cursor: pointer;
    background: none;
}
.header_r {
    display: flex;
    gap: 16px;
    align-items: center;
}


.header_r .theme-toggle {
    width: 103px;
    height: 36px;
    border: 3px solid var(--chang_yellow);
    position: relative;
    cursor: pointer;
    background: none;
    transition: background 0.3s ease;
    overflow: hidden;
}

.header_r .theme-toggle .toggle-thumb {
    width: 50%;
    height: 100%;
    background: var(--chang_yellow);
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.header_r .theme-toggle.light .toggle-thumb {
    left: 50%;
}

.header_r .unit_change {
    display: flex;
    border: 2px solid var(--chang_yellow);
    width: 103px;
    height: 36px;
}

.header_r .unit_change button {
    width: calc(103px / 2);
    border: none;
    background-color: var(--chang);
    color: var(--chang_text);
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.header_r .unit_change button.active {
    background-color: var(--chang_yellow);
    color: var(--red);
}