.side-marquee {
  width: 100%;
  height: clamp(24px, 3vh, 32px);
  line-height: clamp(20px, 2.5vh, 26px);
  background-color: var(--marquee);
  color: var(--chang_red);
  border: 3px solid var(--chang_red);
  overflow: hidden;
  font-size: clamp(10px, 1vw, 14px);
}